#Puedes dejar el env asi y simplemente ejecutar docker compose up --build y funcionara sin problemas

MYSQL_DATABASE=nextay
MYSQL_USER=nextay
MYSQL_PASSWORD=nextay
MYSQL_ROOT_PASSWORD=nextay

# --- Laravel ---
APP_NAME=Nextay
APP_ENV=production
APP_DEBUG=false
# Generate with: docker run --rm php:8.3-cli php -r "echo 'base64:'.base64_encode(random_bytes(32)).PHP_EOL;"
APP_KEY=base64:WpuPSs+zPwKuKRvXmKsissPY2SjAPe6MdmI6E+24hnU=
APP_URL=http://localhost
